<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Icono.png">
    <title id="lbl_titulo">OXXO - </title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/agregar.js" defer></script>
    <link rel="stylesheet" href="/style.css" />
</head>
<body class="bg-gray-100">
    <%- include('./partial/nav') %>
    <%- include('./partial/menu') %>

    <div class="store-name">
      <h5 id="lbl_tienda"></h5>
    </div>
    <% if (usuario.rol == 0) { %>
      <div class="table-container">
        <form id="frm_agregar" name="frm_agregar">
        </form>
      </div>
    <%} else {%>
      <%- include('./partial/tabla') %>
      <h3>Motivo</h3>
      <select>
        <option value="value1">Integracion</option>
        <option value="value2">Cambio dinamico</option>
      </select>
      <h3>Comentarios</h3>
      <input type="text" id="comentarios_af" name="comentarios_af" />
      <div class="add-change-buttons">
        <button class="add-button">Añadir</button>
      </div>
    <%}%>
    
    
 
    <script>
        window._usuario = "<%= usuario.id %>";
    </script>
</body>
</html>
