<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Icono.png">
    <title>OXXO - Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />
</head>
<body class="bg-gray-100">
    <%- include('./partial/nav') %>
    <%- include('./partial/menu') %>
    <% if (usuario.rol==0) { %>
        <div class="store-name">
            <h1>Bienvenido, administrador</h1>
            <img src="/admin.png" width="150" height="150">
            <h1>¡Tengamos una buena sesión de trabajo!</h1>
        </div>
    <% }else {%>
        
    <% }%>
</body>
</html>
