<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Icono.png">
    <title id="lbl_titulo">OXXO - Tiendas</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tiendas.js"></script>
    <link rel="stylesheet" href="/style.css" />
</head>
<body class="bg-gray-100">
    <%- include('./partial/nav') %>
    <%- include('./partial/menu') %>

    <div class="store-name">
        <h5 id="lbl_tienda">Tecnicos</h5>
    </div>
    
    <template id="tpl-tabla">
        <%- include('./partial/tabla') %>
    </template>
</body>