<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="side-menu">
            <% if (usuario.rol!=0) { %>
            <a href="/Busqueda"><div class="side-menu-item">Buscador</div></a>
            <a href="/Tienda?plaza=<%= usuario.plaza %>&region=<%= usuario.region %>&type=2"><div class="side-menu-item" id="btn_bodega">Bodega</div></a>
            <% if (usuario.rol!=1) { %>
                <a href="/Tiendas"><div class="side-menu-item">Tiendas</div></a>
                <a href="/Tecnicos"><div class="side-menu-item">Tecnicos</div></a>
                <div class="side-menu-item">Proyectos</div>
            <% }%>
            <% }else {%>
                <a href="/Consulta?type=1"><div class="side-menu-item" id="btn_usuarios">Usuarios</div></a>
                <a href="/Consulta?type=2"><div class="side-menu-item" id="btn_tiendas">Tiendas</div></a>
                <a href="/Consulta?type=3"><div class="side-menu-item" id="btn_plazas">Plazas</div></a>
                <a href="/Consulta?type=4"><div class="side-menu-item" id="btn_regiones">Regiones</div></a>
            <% }%>
            <div class="side-menu-item" id="logout"><a href="/logout">Cerrar sesión</a></div>
        </div>
    </body>
</html>

