<div class="table-container">
    <table>
      <thead>
        <tr>
          <th colspan="7" class="text-lg font-semibold bg-blue-400 p-4">ISLA</th>
        </tr>
        <tr>
          <th class="bg-b6e3f4 text-black p-4">Activo</th>
          <th class="bg-white text-black p-4">Descripción del activo</th>
          <th class="bg-white text-black p-4">Año</th>
          <th class="bg-white text-black p-4">Modelo</th>
          <th class="bg-white text-black p-4">Número de serie</th>
          <th class="bg-white text-black p-4">Observaciones</th>
          <th class="bg-white text-black p-4"></th>
        </tr>
      </thead>
      <tbody id="tabla_isla"></tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="7" class="text-lg font-semibold bg-blue-400 p-4" >CCTV</th>
        </tr>
        <tr>
          <th class="bg-b6e3f4 text-black p-4">Activo</th>
          <th class="bg-white text-black p-4">Descripción del activo</th>
          <th class="bg-white text-black p-4">Año</th>
          <th class="bg-white text-black p-4">Modelo</th>
          <th class="bg-white text-black p-4">Número de serie</th>
          <th class="bg-white text-black p-4">Observaciones</th>
          <th class="bg-white text-black p-4"></th>
        </tr>
      </thead>
      <tbody id="tabla_cctv"></tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="7" class="text-lg font-semibold bg-blue-400 p-4">SITE</th>
        </tr>
        <tr>
          <th class="bg-b6e3f4 text-black p-4">Activo</th>
          <th class="bg-white text-black p-4">Descripción del activo</th>
          <th class="bg-white text-black p-4">Año</th>
          <th class="bg-white text-black p-4">Modelo</th>
          <th class="bg-white text-black p-4">Número de serie</th>
          <th class="bg-white text-black p-4">Observaciones</th>
          <th class="bg-white text-black p-4"></th>
        </tr>
      </thead>
      <tbody id="tabla_site"></tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="7" class="text-lg font-semibold bg-blue-400 p-4">MOVILIDAD</th>
        </tr>
        <tr>
          <th class="bg-b6e3f4 text-black p-4">Activo</th>
          <th class="bg-white text-black p-4">Descripción del activo</th>
          <th class="bg-white text-black p-4">Año</th>
          <th class="bg-white text-black p-4">Modelo</th>
          <th class="bg-white text-black p-4">Número de serie</th>
          <th class="bg-white text-black p-4">Observaciones</th>
          <th class="bg-white text-black p-4"></th>
        </tr>
      </thead>
      <tbody id="tabla_movilidad"></tbody>
    </table>
</div>